<% if (!user) { %>
    <h3>Пожалуйста, <a href="/login">Войдите в систему</a></h3>
  <% } else { %>
    <h3>Привет, <%= user.name.familyName %>! 
    <p><strong>Фамилия: </strong> <%= user.name.givenName %></p>
    <p><strong>Имя: </strong> <%= user.name.familyName %></p>
    <p><strong>Email: </strong> <%= user.emails.map(email => email.value).join(', ') %></p>
  
    <a href="/logout">Выйти из профиля</a></h3>
  <% } %>